<h1> Bienvenido al super organizador de fotos miluemium
premium archi super wuau </h1>

<form action="/manejador_rutas/" method="get">

    <h3> Ingrese la url de la carpeta que desea organizar! </h3>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <input type="text" name="ruta">

    <input type="submit" value="Organizar!" />

</form>

<h4> Usado recientemente: </h4>
<ul>
{% for c in carpetas %}
    <li><a href="/manejador_rutas?ruta={{ c.ruta }}""> {{ c.ruta }}  </a></li>
{% endfor %}
</ul>
