<h1> Archi super wauuu!!! </h1>
<h2> {{ foto }} </h2>
<h3> Esta imagen se encuentra acutalmente en {{ carpeta_actual }} </h3>

<h3> A donde desea moverla? </h3>

<form action="/acomodador" method="get">

    {% if ubicaciones %}

        {% for u in ubicaciones %}
            <input type="radio" name="nueva_ruta" value="{{ u }}"> {{ u }} <br>
        {% endfor %}

        <input type="radio" name="nueva_ruta">  <input type="text" name="nueva_ruta"> <br>


    {% else %}
        <input type="text" name="nueva_ruta">

    {% endif %}

    <input type="submit" value="Acomodar"/>
</form>


<img src='{% url imagen imagen=foto %}'>