<h1> Archi super wauuu!!! </h1>

{% if error_message %}
    <form action="/" method="get">
        <h3> {{ error_message}} </h3>
        <input type="submit" value="Volver a la home"/>
    </form>

{% else %}


    <h2> {{ foto }} </h2>
    <h3> Esta imagen se encuentra acutalmente en {{ carpeta_actual }} </h3>

    <h3> A donde desea moverla? </h3>

    <form action="/acomodador" method="get">

        <h4> Ingrese la ruta de la carpeta donde desea guardar la imagen </h4>

        <input type="text" name="nueva_ruta"/>

        <input type="submit" value="Acomodar"/>

    </form>


    {% if ubicaciones %}

        <form action="/acomodador" method="get">
            <h4> O seleccione alguna de las siguientes carpetas </h4>

            {% for u in ubicaciones %}
                <h3> {{ u }} </h3>
            {% endfor %}

            {% for u in ubicaciones %}
                <input type="radio" name="nueva_ruta" value="{{ u }}"/> {{ u }} <br>
            {% endfor %}

        <input type="submit" value="Acomodar"/>

        </form>

    {% endif %}


    <img src='{% url imagen imagen=foto %}'>

{% endif %}